<div class="row featurette mt-4"> 
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Autor: </h2>
    <br>
    <p class="lead">Meu nome é Bella, sou médica e viajante. Uma daquelas
      pessoas que está sempre planejando a próxima viagem, sonhando com o próximo destino e contando os dias para as
      próximas férias. Já morei no Canadá e fiz intercâmbio para os Estados Unidos. Gosto de aventuras e passeios
      radicais. Pular de paraquedas foi uma das melhores experiências que já tive! <br> Criei esse espaço para compartilhar
      com vocês as minhas dicas, que antes só eram compartilhadas com poucos amigos, tentando mostrar o mundo de um
      jeito leve e tranquilo.</p>
  </div>
  <div class="col-md-5">
    <img src="img/autor.jpg" width="500" height="500">
  </div>
</div>

<!-- class="row": é uma classe do Bootstrap que cria uma linha (row) para organizar conteúdo em colunas -->
<!-- featurette:  é uma classe para estilizar este componente específico -->
<!-- mt-4: é uma classe do Bootstrap que adiciona uma margem superior (margin-top) de tamanho 4 -->
<!-- fw-normal: é uma classe Bootstrap que define o peso da fonte como normal -->
<!-- lh-1: é uma classe Bootstrap que define a altura da linha como 1 -->
<!-- br: elemento que cria uma quebra de linha no texto -->
<!-- class="lead": é uma classe Bootstrap que estiliza o texto para destacá-lo como um parágrafo introdutório -->
<!-- div class="col-md-5": inicia uma coluna que ocupará 5 das 12 unidades de grid do Bootstrap -> telas médias (md) ou maiores-->
<!-- img src="": tag para inserir uma imagem no documento e definir o caminho da imagem -->