<div class="row featurette mt-4">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Autor: </h2>
    <br>
    <p class="lead">Meu nome é Bella, sou médica e viajante. Uma daquelas
      pessoas que está sempre planejando a próxima viagem, sonhando com o próximo destino e contando os dias para as
      próximas férias. Já morei no Canadá e fiz intercâmbio para os Estados Unidos. Gosto de aventuras e passeios
      radicais. Pular de paraquedas foi uma das melhores experiências que já tive! <br> Criei esse espaço para compartilhar
      com vocês as minhas dicas, que antes só eram compartilhadas com poucos amigos, tentando mostrar o mundo de um
      jeito leve e tranquilo.</p>
  </div>
  <div class="col-md-5">
    <img src="img/autor.jpg" width="500" height="500">
  </div>
</div>