<div class="row featurette mt-4">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Hotel Igloo Sorrisniva – Alta, Noruega</h2>
        <p class="lead">  O hotel está a 20km do centro da cidade, ele é construído todos os anos e é feito inteiramente de neve e gelo. Uma experiência única! Todos os quartos possuem sacos de dormir super aquecidos e colchonetes de pele de rena. Ao lado do hotel os hóspedes têm acesso a um prédio com banheiros, vestiários, depósitos de bagagem sauna, banheiras de hidromassagem e 2 restaurantes locais. 
        </p>
    </div>
    <div class="col-md-5">
        <img src="img/igloo.jpg" width="500" height="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette mt-4">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Hotel Arctic TreeHouse – Rovaniemi, Finlândia</h2>
        <p class="lead"> O hotel está localizado na área do parque temático Santa Park (O parque do papai noel), ele tem vista linda para floresta e é muito comum ver a aurora boreal de lá. Os quartos são super confortáveis, luxuosos e quentinhos. 
        </p>
    </div>
    <div class="col-md-5">
        <img src="img/arctic.jpg" width="500" height="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette mt-4">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Hotel Santa’s Igloos Arctic Circle –  Rovaniemi, Finlândia</h2>
        <p class="lead"> O hotel oferece iglus super elegantes com teto de vido, banheiro privativo e muito conforto para os hóspedes. Todos os quartos tem um tablet, por onde a recepção entra em contato quando a aurora boreal está visível. Um excelente hotel para ver a Aurora Boreal.
        </p>
    </div>
    <div class="col-md-5">
        <img src="img/santa.jpg" width="500" height="500">
    </div>
</div>

 <a href="post-list">Voltar</a> 
