<div class="row">
    <div class="col-md-3">
        <nav>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a routerLink="post-datail" routerLinkActive="active" class="nav-link">Confira onde tomar os melhores sorvetes em sua viagem para Londres</a>
                </li>
                <li class="nav-item">
                    <a routerLink="post-detail2" routerLinkActive="active" class="nav-link">Confira os melhores hotéis para ver a Aurora Boreal</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <router-outlet />
    </div>
</div>
