<div class="row featurette mt-4">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Scoop Gelato</h2>
        <p class="lead">O sorvete é artesanal e muito delicioso, uma ótima opção para quem deseja se refrecar no verão.
        </p>
    </div>
    <div class="col-md-5">
        <img src="img/soft-serve.jpg" width="500" height="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette mt-4">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Milk Train</h2>
        <p class="lead">O sorvete é coberto de algodão doce, um diferencial exclusivo. Excelente sorveteria para aproveitar com amigos e familiares.
        </p>
    </div>
    <div class="col-md-5">
        <img src="img/milk-train.jpg" width="500" height="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette mt-4">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Pan n Ice</h2>
        <p class="lead">Sorvete é uma delícia, feito de rolinho e tem diferentes sabores. A sorveteria é uma ótima opção!</p>
    </div>
    <div class="col-md-5">
        <img src="img/pan-n-ice.jpg" width="500" height="500">
    </div>
</div>

<a href="post-list">Voltar</a> 

